In [9]:
import janitor
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pyreadr
import seaborn as sns
import session_info
import upsetplot

# Loading the data

### The data collected for this analysis come from WHO and also from the biggest infant's hospital in Panama called "Hospital del Niño".

In [17]:
urgencias_hosp_ninno_raw = pd.read_csv(
    '../data/raw/causas-frecuentes-en-el-cuarto-de-urgencias-2022.csv', encoding='latin-1', sep=';')

urgencias_hosp_ninno_raw.head()

,causas,total-genero,hombre,mujer,total-rango-edad,menor-1-a¤o,1-4-a¤o,5-9-a¤o,10-14-a¤o,15-a¤o-y-mas
0,asma,3295,1987,1308,3295,81,1764,1199,251,0
1,bronconeumonia,124,69,55,124,24,78,16,6,0
2,bronquiolitis,4078,2374,1704,4078,2966,1070,32,10,0
3,bronquitis,1596,890,706,1596,182,831,483,99,1
4,conjuntivitis,381,195,186,381,94,151,100,36,0

In [19]:
neonatal_deaths_raw = pd.read_excel(
    '../data/raw/Number of neonatal deaths - by cause.xlsx', sheet_name='Data')

neonatal_deaths_raw.head()

,Indicator,Year,Country,Global,WHO region,World bank income group,Age group,Cause,Datasource short,Datasource long,Value Numeric,Value String
0,Number of neonatal deaths - by cause,2000,Afghanistan,NaN,Eastern Mediterranean,Low income,0-28 Days,Birth asphyxia and birth trauma,MCEE,Maternal and Child Epidemiology Estimation (MCEE),11933.010000,11933.010000
1,Number of neonatal deaths - by cause,2000,Afghanistan,NaN,Eastern Mediterranean,Low income,0-28 Days,Tetanus,MCEE,Maternal and Child Epidemiology Estimation (MCEE),2392.263000,2392.263000
2,Number of neonatal deaths - by cause,2000,Afghanistan,NaN,Eastern Mediterranean,Low income,0-28 Days,Injuries,MCEE,Maternal and Child Epidemiology Estimation (MCEE),393.212300,393.212300
3,Number of neonatal deaths - by cause,2000,Afghanistan,NaN,Eastern Mediterranean,Low income,0-28 Days,HIV/AIDS,MCEE,Maternal and Child Epidemiology Estimation (MCEE),0.240009,0.240009
4,Number of neonatal deaths - by cause,2000,Afghanistan,NaN,Eastern Mediterranean,Low income,0-28 Days,Sepsis and other infectious conditions of the ...,MCEE,Maternal and Child Epidemiology Estimation (MCEE),4492.082000,4492.082000